---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 <col-md-10></col-md-10>">
			{{ content }}
		</div>
        <div class="col-lg-1 col-md-1">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?t=cmart_blog-21&o=3&p=32&l=bn1&mode=books&browse=124&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr"
                marginwidth="0" marginheight="0" width="180" height="450" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
	</div>
</div>

<hr>
